

.logo {
    background-size: cover;
    object-fit: cover;
    background-position: center;
    border-radius: 100px;
    
}

::-webkit-scrollbar {
    width: 5px;
    border:#02100d ;
    border-style: dotted;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: #070707;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: hsl(171, 100%, 3%)
  }
  